body {
    background-color:grey;
}
.centrar{
    margin: 0 auto;
}
.wrapper_c {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.formulario_wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    background: #fff;
    padding: 50px;
}

.formulario_wrapper a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
}


.formulario_wrapper a i {
    float: right;
    margin: 0;
    line-height: 35px;
}


.formulario_wrapper h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #111;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.formulario_wrapper .formsix-pos, .formsix-e {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}

.formulario_wrapper .form-control {
    height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fafafa;
}

.formulario_wrapper .form-control:focus {
    color: #999;
    background-color: fafafa;
    border: 1px solid #4285f4 !important;
}

.btn_wrapper {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.btn_wrapper a.accion_btn {
    text-align: center;
    text-transform: uppercase;
}

.login_message p {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

p {
    color: #999999;
    font-size: 14px;
    line-height: 24px;
}

.formulario_wrapper a.accion_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
}

.formulario_wrapper a.btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
}

